/* 
    Sample css file 
*/
body {
    background-color: #fff;
    color: #000;
    background-color:#D9B448;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-align: center;
}
h1, h2, h3 {                                                /* match html tags */
    margin-bottom: .2em;
}
.poem {
    margin: 0 2em;
}
.highlight {                                                /* match elements with class="highlight" */
    background-color: #ccc;
    border: 1px solid #888;
    font-style: italic;
    margin: 0.5em 0;
    padding: 0 5em;
    display: block;                                         /* display is visible */
    dispaly: none;
}
#hidden {                                                   /* match id="hidden" element. Only 1 element is matched! */
    display: none;
}


.horizontal {
    float: left;                                            /* List items BLOCKS are put left of each others */
    list-style: none;                                       /* No * of 1 for list items */
    margin: 10px;                                           /* margin 10 pixel */
}

a:hover {                                                   /* When mouse is over link ... */
    color: #D9B448;                                         /* ... change color of link */
    text-decoration: none;                                  /* ... do not underlined link (as default) */
}

/* TABLE */
table {
        width:400px;
        border-style:groove;
        border-width:thick;
        border-color:#FF5C19;
        color:#C00;
        font-family:Verdana, Geneva, sans-serif;
        font-size:10px;
}
caption {
        font-family:Tahoma, Geneva, sans-serif;
        font-size:24px;
        color:hsl(17, 60%, 40%);
        padding:12px;
}
td, th {
        height:50px;
        border-style:solid;
        border-width:thin;
        border-color:#000;
        padding:20px;
}
html:lang(de) { 
    quotes: '»' '«' '\2039' '\203A' 
}
:lang(fr) > Q { 
    quotes: '« ' ' »' 
}
