body {
    font-family: sans-serif;
    width: 800px;
    margin: # auto;
    padding: 10px;
}

.map {
    position: absolute;
    right: 0;
    top: 112px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 24px;
}

hr {
    margin: 20px auto;
}

.art + .art {
    margin-top: 20px;
}

.art-title {
    font-weight: bold;
    font-size: 20px;
}

.art-body {
    margin: 0;
    font-size: 11px;
}


